@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;800&family=Poppins:wght@700&display=swap');

body{
    background-color: rgb(71,57,141);
    font-family: 'Fredoka', sans-serif;
}

.startPage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.play-btn{
    margin-top: 2vh;
    background-color: rgb(10,179,6);
    width: 25vw;
    height: 8vh;
    border-radius: 40px;
    font-size: 1.5rem;
    padding-top: -10px  ;
    border: 3px outset rgb(0, 0, 0);
}